<style scoped>
    .com_model .content {
        width: 450px;
        height: 330px;
        border-radius: 5px;
    }

    .com_model .content .com_h2 {
        text-align: center;
    }

    .com_model .content .main {
        padding: 20px;
    }

    .com_model .content .main .item {
        height: 40px;
        margin-top: 10px;
        font-size: 15px;
    }

    .com_model .content .main .item span {
        display: inline-block;
        width: 90px;
        line-height: 35px;
        padding-left: 30px;
    }

    .com_model .content .main .item input {
        display: inline-block;
        width: 300px;
        height: 35px;
        padding-left: 10px;
    }

    .com_model .content .iconfont {
        font-size: 30px;
        color: #aaa;
        margin: 0px 20px 0 0;
        cursor: pointer;
    }

    .related-apps {
        font-size: 12px;
        border-bottom: solid 1px #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: #8776f7;
    }

    .related-apps:last-child {
        border-bottom: none;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
</style>
<div class="com_content" id="home_body" v-cloak>
    <div class="com_title">
        <div class="h1"><%= data.title %></div>
        <div class="right">
            <button class="btn btn-default" @click="editEmail">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
            </button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">联系人列表</div>
        <table class="table table-bordered table-responsive" v-if="isLoadend && datalist.length">
            <tr>
                <th>姓名</th>
                <th>手机</th>
                <th>邮箱</th>
                <th>关联应用</th>
                <th>操作</th>
            </tr>
            <tr v-for="item in datalist">
                <td>{{item.name}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.email}}</td>
                <td>
                    <template v-if="item.system_ids&&item.system_ids.length">
                        <div class="related-apps" v-for="items in item.system_ids">
                            <div>{{items.desc}}</div>
                            <div>应用：{{items.system_name}}</div>
                            <div>AppID：{{items.system_id}}</div>
                        </div>
                    </template>
                    <template v-else>无</template>
                </td>
                <td>
                    <button class="btn btn-primary" @click="editEmail(item)">编辑</button>
                    <button class="btn btn-success" @click="testEmail(item)">测试</button>
                    <button class="btn btn-danger" @click="deleteEmail(item)">删除</button>
                </td>
            </tr>
        </table>
        <div class="panel-body">
            <!--  分页 -->
            <div class="common_page_style text-center">
                <div id="copot-page" class="copot-page"></div>
            </div>
            <div v-if="isLoadend && !datalist.length" class="mt30 alert alert-info text-center">暂无邮件！</div>
        </div>
    </div>

    <!-- 弹出model -->
    <div class="com_model" v-show="showModel">
        <div class="mask" @click="showModel=false"></div>
        <div class="content">
            <h1 class="com_h2 mt20 ml20">{{ this.id ? '编辑联系人' : '新增联系人' }} <span class="iconfont fr" @click="showModel=false">&#xe674;</span></h1>
            <div class="main">
                <div class="item"><span>姓名：</span><input type="text" v-model.trim="name" placeholder="联系人姓名"></div>
                <div class="item"><span>手机号：</span><input type="text" v-model.trim="phone" placeholder="联系人手机号码"></div>
                <div class="item"><span>邮箱：</span><input type="text" v-model.trim="email" placeholder="联系人邮件地址"></div>
                <div class="item">
                    <span></span>
                    <button class="btn btn-primary" @click="submit">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    'use strict';
    new Vue({
        el: '#home_body',
        data: () => {
            return {
                pageNo: 1,
                pageSize: 6,
                totalNum: 0,
                showModel: false,
                datalist: [],
                userMsg: {},
                isLoadend: false,
                phone: '',
                email: '',
                name: '',
                id: ''
            };
        },
        filters: {
            systemType: window.Filter.systemType
        },
        mounted() {
            const userMsg = util.getStorage('local', 'userMsg');
            this.userMsg = userMsg ? JSON.parse(userMsg) : {};

            this.getList();
        },
        methods: {
            getList() {
                util.ajax({
                    type: 'get',
                    url: config.baseApi + 'api/v1/emails/list',
                    data: {
                        pageNo: this.pageNo,
                        pageSize: this.pageSize
                    },
                    success: (data) => {
                        this.isLoadend = true;
                        if (!data.data.datalist && !data.data.datalist.length) {
                            this.datalist = [];
                            return;
                        }
                        this.datalist = data.data.datalist;
                        new Page({
                            parent: $('#copot-page'),
                            nowPage: this.pageNo,
                            pageSize: this.pageSize,
                            totalCount: data.data.totalNum,
                            callback: (nowPage, totalPage) => {
                                this.pageNo = nowPage;
                                this.getList();
                            }
                        });
                    }
                });
            },
            editEmail(item) {
                // 添加/编辑
                this.showModel = true;
                if (item && item._id) {
                    this.id = item._id;
                    this.name = item.name;
                    this.phone = item.phone;
                    this.email = item.email;
                    return;
                }
                this.id = '';
                this.name = '';
                this.phone = '';
                this.email = '';
            },
            submit() {
                if (!util.regCombination('*').test(this.name)) {
                    popup.miss({
                        title: '请填写联系人姓名!'
                    });
                    return false;
                }
                // if (!util.regCombination('*').test(this.phone)) {
                //     popup.miss({
                //         title: '请填写联系人手机号!'
                //     });
                //     return false;
                // }
                if (this.phone && !util.regCombination('m').test(this.phone)) {
                    popup.miss({
                        title: '手机号码格式有误!'
                    });
                    return false;
                }
                if (!util.regCombination('*').test(this.email)) {
                    popup.miss({
                        title: '请填写联系人邮件地址!'
                    });
                    return false;
                }
                if (!util.regCombination('e').test(this.email)) {
                    popup.miss({
                        title: '邮件地址格式有误!'
                    });
                    return false;
                }
                const params = {
                    name: this.name,
                    phone: this.phone,
                    email: this.email
                };
                let operate = 'api/v1/emails/add';
                if (this.id) {
                    params.id = this.id;
                    operate = 'api/v1/emails/update';
                }
                util.ajax({
                    url: config.baseApi + operate,
                    data: params,
                    success: () => {
                        this.showModel = false;
                        this.getList();
                        this.email = '';
                        this.name = '';
                        popup.miss({
                            title: '操作成功!'
                        });
                    }
                });
            },
            testEmail(item) {
                popup.confirm({
                    title: '发送测试邮件？',
                    yes: () => {
                        util.ajax({
                            url: `${config.baseApi}api/v1/emails/test`,
                            data: {
                                to: item.email
                            },
                            success: () => {
                                popup.miss({
                                    title: '已发送!'
                                });
                            }
                        });
                    },
                    no: () => {
                        popup.miss({
                            title: '取消!'
                        });
                    }
                });
            },
            deleteEmail(item) {
                const _this = this;
                popup.confirm({
                    title: '确定删除此邮件吗？',
                    yes() {
                        util.ajax({
                            url: `${config.baseApi}api/v1/emails/delete`,
                            data: {
                                id: item._id,
                                systemIds: item.system_ids,
                                email: item.email
                            },
                            success: () => {
                                _this.getList();
                                popup.miss({
                                    title: '操作成功!'
                                });
                            }
                        });
                    },
                    no: () => {
                        popup.miss({
                            title: '操作取消!'
                        });
                    }
                });
            }
        }
    });
</script>